body{
    margin:0px;
    font-family: "Inter";
    margin-top: -5vh;
    font-size: 20px;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
input{
    width: 200px;
    height: 25px;
    font: inherit;
}
#result{
    transition: color .25s ease-in-out;
}
button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    box-shadow: 0px 6px 15px rgba(0,0,0,.15);
    transition: background-color .5s ease;
}
button:hover{
    background-color: rgb(48, 48, 48);
}
fieldset{
    width: 500px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
}